<h1>Site#home</h1>
<p>Find me in app/views/site/home.html.erb</p>
<%= link_to 'play', :action => :waiting %>
<%= link_to 'scoreboard', :action => :scoreboard %>
<p>TODO: show scoreboard link</p>
<%= link_to 'logout', :action => :logout %>